---
interface Props {
    targetId: string;
}

import "easymde/dist/easymde.min.css";
import "@fortawesome/fontawesome-free/css/all.min.css";

const { targetId } = Astro.props;
---

<div data-markdown-editor-target={targetId} class="hidden" aria-hidden="true">
</div>

<script>
    import { initMarkdownEditors } from "../../../lib/admin/markdown-editor";
    initMarkdownEditors();
</script>
