---
import "codemirror/lib/codemirror.css";
import "easymde/src/css/easymde.css";
---

<div data-markdown-editor>
    <slot />
</div>

<script>
    import { initMarkdownEditors } from "../../../lib/admin/markdown-editor";
    initMarkdownEditors();
</script>
