---
import Layout from "../layouts/Layout.astro";
import PageHero from "../components/shared/PageHero.astro";
import Container from "../components/layout/Container.astro";
---

<Layout title="Aktuálne">
    <PageHero title="Aktuálne informácie" />
    <Container>
        <div class="text-center py-12">
            <p class="text-xl text-gray-500 italic">Momentálne pre Vás pripravujeme nové informácie o našich projektoch.</p>
        </div>
    </Container>
</Layout>
